.cell {
  border: 1px solid black;
  background-color: white;
  color: black;
  height: 2em;
  width: 2em;
  position: relative;
}

.block {
  background-color: black;
  height: 2em;
  width: 2em;
}

.circled {
  border: 1px solid black;
  border-radius: 1em;
  height: 2em;
  width: 2em;
}

.shaded {
  background-color: lightgray;
  height: 2em;
  width: 2em;
}

.number {
  font-size: 0.75em;
  color: black;
  position: relative;
  top: -0.5em;
  padding: 0.1em;
}

.value {
  position: relative;
  margin: '0em';
  padding: '0em';
}